<!DOCTYPE html>
<html lang="ko">
<head>
</head>
<body>
<div id="indexBodyJumboTron">
		<br>
		<br>
		<br>
		<br>
		<br>
    	<div class="jumbotron">
  			<div class="container">
   				<h1>Welcome! Mocomsys TechNet</h1>
   				<br>
   				<p>Experience the amazing technology in Mocomsys TechNet</p>
   				<br>   
   								
   				<div class="media">
					<a class="pull-left" href="#"><img class="media-object" src="img/bookmark-icon64x64.png" alt="..." border="0" style="float:left;width: 64px;height: 64px"></a>
					<div class="media-body"><h4 class="media-heading">Question Service</h4>
					After you have a technical question to Mocomsys Experience for correct answers!<br>
					I wonder if there is something you usually use the New Write menu, ask questions and try searching using the search bar!</div>					
				</div>


   				<br>
   				<div class="media">
					<a class="pull-left" href="#"><img class="media-object" src="img/citizen-manual-book-icon1.png" alt="..." border="0" style="float:left;width: 64px;height: 64px"></a>
					<div class="media-body"><h4 class="media-heading">Product Manual</h4>
					Experience the manual distributed by Mocomsys.<br>
					IFM, MI, MTE, VITRIA manual of the product is ready. Click now to learn the use of the best product menu EAI solutions in detail!!</div>					
				</div>
   				<br><br>
   				<!--  div class="progress progress-striped active">
  					<div class="progress-bar progress-bar-danger"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
    					<span class="sr-only">45% Complete</span>
  					</div>
				</div-->
				<br>
    			<p><a class="btn btn-danger btn-lg" href="http://docs.mocomsys.com/0b551320f979b7e4" target="_blank">Learn more</a></p>
    		</div>
		</div>	
</div>
</body>
</html>
