/* CSS Document */



a:link				{font-size: 12px;	color: #333333; text-decoration: none; line-height: 130%;}
a:active			{font-size: 12px;	color: #333333; text-decoration: none; line-height: 130%;}
a:visited			{font-size: 12px;	color: #585858; text-decoration: none; line-height: 130%;}
a:hover			{font-size: 12px;	color: #0070bc; text-decoration: none; line-height: 130%;}

img 	{	border : 0;}

	body {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color: #000000;
	text-decoration: none;
	background: #FFFFFF;
	margin:0px;
	font-size:12px;
	color:#333333;
	}

	input {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	color:#585858;
	height:20px;
	padding-left:3px;
	}

	
	.frm {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	color:#585858;
	height:20px;
	padding-left:3px;
	border:1px solid #A5ACB2;
	}
	
	.txtarea {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	color:#585858;
	padding:10px;
	border:1px solid #A5ACB2;
	}
	
	select {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	color:#585858;
	height:20px;
	padding-left:3px;
	border:1px solid #A5ACB2;
	}
	

	td{
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	empty-cells: show ;
	color:#595959;
	}
	
	
/* Top */	
	.toptd {
	background-image:url(../images/login_shadow_up.jpg);
	background-position:bottom 100px;
	background-repeat:no-repeat;
	padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
	text-align:left;
	vertical-align:top;
	}
	
	.tbl {
	padding-left:0px; padding-right:0px; padding-top:0px; padding-bottom:0px;
	border-bottom:3px solid #ffffff;
	text-align:right;
	vertical-align:top;
	}

/* right : Contents Area */
	.stts {
	font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;
	color:#444444;
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	text-align:left;
	padding-left:3px; padding-right:6px; padding-top:5px; padding-bottom:3px;
	}
		.stts A:link { line-height:14px;font-weight: bold;font-size:11px;text-decoration: none;color:#444444; }
		.stts A:visited { line-height:14px;font-weight: bold;font-size:11px; text-decoration: none;color:#444444; }
		.stts A:hover {line-height:14px; font-weight: bold;font-size:11px;text-decoration: underline;color:#8CC919; }

	.stts_grn {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#444444;
	border:1px solid #B9D700;
	background-color:#ffffff;
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_grn A:link { line-height:14px;font-weight: bold;font-size:11px;text-decoration: none;color:#444444; }
		.stts_grn A:visited { line-height:14px;font-weight: bold;font-size:11px; text-decoration: none;color:#444444; }
		.stts_grn A:hover {line-height:14px; font-weight: bold;font-size:11px;text-decoration: underline;color:#8CC919; }

	.stts_org {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#F9F9F9; 
	background-color:#F7941D;
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_org A:link {line-height:14px; font-weight: bold;font-size:11px;text-decoration: none;color:#F9F9F9; }
		.stts_org A:visited { line-height:14px;font-weight: bold;font-size:11px; text-decoration: none;color:#F9F9F9; }
		.stts_org A:hover { line-height:14px;font-weight: bold;font-size:11px;text-decoration: underline;color:#F9F9F9; }

	.stts_gry {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche;
	color:#F9F9F9;
	background-color:#BABABA;
	font-size:11px;
	font-weight:bold;
	line-height:14px;
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_gry A:link { line-height:14px;font-weight: bold;font-size:11px;text-decoration: none;color:#F9F9F9; }
		.stts_gry A:visited {line-height:14px; font-weight: bold;font-size:11px; text-decoration: none;color:#F9F9F9; }
		.stts_gry A:hover {line-height:14px; font-weight: bold;font-size:11px;text-decoration: underline;color:#F9F9F9; }

	.stts_blk {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#333333; 
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_blk A:link {line-height:14px; font-weight: bold;font-size:11px;text-decoration: none;color:#333333; }
		.stts_blk A:visited {line-height:14px; font-weight: bold;font-size:11px; text-decoration: none;color:#333333; }
		.stts_blk A:hover {line-height:14px; font-weight: bold;font-size:11px;text-decoration: underline;color:#333333; }

	.stts_red {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#C92254; 
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_red A:link { line-height:14px;font-weight: bold;font-size:11px;text-decoration: none;color:#C92254; }
		.stts_red A:visited {line-height:14px; font-weight: bold;font-size:11px; text-decoration: none;color:#C92254; }
		.stts_red A:hover { line-height:14px;font-weight: bold;font-size:11px;text-decoration: underline;color:#C92254; }

	.stts_blu {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#F9F9F9; 
	background-color:#689EE6;
	font-size:11px;
	line-height:14px;
	font-weight:bold; 
	padding-left:6px; padding-right:3px; padding-top:5px; padding-bottom:3px;
	}
		.stts_blu A:link {line-height:14px; font-weight: bold;font-size:11px;text-decoration: none;color:#F9F9F9; }
		.stts_blu A:visited {line-height:14px; font-weight: bold;font-size:11px; text-decoration: none;color:#F9F9F9; }
		.stts_blu A:hover {line-height:14px; font-weight: bold;font-size:11px;text-decoration: underline;color:#F9F9F9; }

	.stts_log {
	font-family: Courier New, Courier, mono;
	margin-left:20px; 
	background-color:#333333;color:#F7F7F7;
	overflow-x:hidden;overflow-y:auto;
	width:760px;
	height:40px;/*70px*/
	z-index:22;
	border:2px solid #cccccc; 
	padding-left:8px; padding-top:3px;
	}



	.tbl01 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	margin-left:0px;margin-top:10px;
	border-top:2px solid #385C7B;
	}
	
	
	.tt01 {
	background-color:#80A7CE; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#ffffff; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding-left:12px; padding-right:12px; 
    border-bottom:1px solid #a3beca;
	}
	
	.td01 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	border-bottom:1px solid #a3beca; 
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.td01_1 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	border-bottom:0px solid #a3beca; 
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.btnc {
	background-image:url(../img/btn_combg.gif); 
	background-repeat:repeat-x; 
	background-position:0px 0px; 
	color:#474747;
	font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif ;
	font-size:11px;
	padding-top:4px; padding-bottom:0px;
	}
	.btnc A:link { font-weight: normal; font-size:11px;text-decoration: none; color:#474747; }
	.btnc A:visited { font-weight: normal; font-size:11px; text-decoration: none; color:#474747; }
	.btnc A:hover {  font-weight: normal; font-size:11px;text-decoration:none; color:#0070bc; }




	
	.div_btn {margin-left:0px; margin-top:8px; margin-bottom:10px; width:920px; text-align:center;}



	.tbl02 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	margin-left:0px;margin-top:10px;
	border-top:2px solid #417da8;
	}

	.tbl02_1 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	margin-left:0px;
	border-top:0px solid #B5B5B5;/**/
	}

	
	
	.tt02 {
	background-color:#C2DDEE; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding-left:6px; padding-right:6px; padding-top:4px; padding-bottom:4px;
	}
	
	.tt04 {
	background-color:#C2DDEE; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:left;
	padding-left:6px; padding-right:6px; padding-top:4px; padding-bottom:4px;
	}
	
	.tt02_sub {
	background-color:#DFEDF6; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding:2px;
	}
	
	.tt02_gr {
	background-color:#C7E3A8; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding-left:6px; padding-right:6px; padding-top:4px; padding-bottom:4px;
	}
	
	.tt02_grsub {
	background-color:#E1F0CF; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding:2px;
	}
	
	.tt02_or {
	background-color:#EFDFAC; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding-left:6px; padding-right:6px; padding-top:4px; padding-bottom:4px;
	}
	
	.tt02_orsub {
	background-color:#F5EBCC; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	text-align:center;
	padding:2px;
	}
	
	.td02 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	padding-left:6px; padding-right:6px; padding-top:4px; padding-bottom:4px;
	}
		.td02 A:link { font-weight: normal;font-size:11px;text-decoration: none;color:#006DB5; }
		.td02 A:visited { font-weight: normal;font-size:11px; text-decoration: none;color:#006DB5; }
		.td02 A:hover { font-weight: normal;font-size:11px;text-decoration: underline;color:#00ADE7; }

	
	.th02 {
	background-color:#F1F8EB; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#444444; 
	font-size:11px; 
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
		.th02 A:link { font-weight: normal;font-size:11px;text-decoration: none;color:#006DB5; }
		.th02 A:visited { font-weight: normal;font-size:11px; text-decoration: none;color:#006DB5; }
		.th02 A:hover { font-weight: normal;font-size:11px;text-decoration: underline;color:#00ADE7; }
	
	
	.th02_gry {
	background-color:#F7F7F7;
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche;
	color:#595959;
	font-size:11px;
	padding-left:9px;
	padding-right:9px;
	padding-top:4px;
	padding-bottom:4px;
	}/*border: 1px solid #BDBDBD;*/
	
	
	.td02_ok {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#8CC919; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.td02_error {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#F7941D; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}

	.td02_dim {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#cccccc; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.td02_blk {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#444444; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.td02_red {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#C92254; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	.td02_blue {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#689EE6; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:4px; padding-bottom:4px;
	}
	
	
	.tbl03 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	margin:0px;
	border-top:2px solid #71889A;
	}
	
	
	.tt03 {
	background-color:#C2DDEE; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	font-weight:bold; 
	padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:2px;
	}
	
	.td03 {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#595959; 
	font-size:11px; 
	padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:2px;
	}
		.td03 A:link { font-weight: normal;font-size:11px;text-decoration: none;color:#006DB5; }
		.td03 A:visited { font-weight: normal;font-size:11px; text-decoration: none;color:#006DB5; }
		.td03 A:hover { font-weight: normal;font-size:11px;text-decoration: underline;color:#00ADE7; }

	
	.th03 {
	background-color:#F1F8EB; 
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#444444; 
	font-size:11px; 
	padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:2px;
	}
		.th03 A:link { font-weight: normal;font-size:11px;text-decoration: none;color:#006DB5; }
		.th03 A:visited { font-weight: normal;font-size:11px; text-decoration: none;color:#006DB5; }
		.th03 A:hover { font-weight: normal;font-size:11px;text-decoration: underline;color:#00ADE7; }
	
	
	.td03_ok {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#8CC919; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:2px;
	}
	.td03_error {
	font-family: Arial,Helvetica, geneva,sans-serif,Dotum,Dotumche,Gulim,Gulimche ;
	color:#F7941D; 
	font-size:11px; 
	font-weight:bold;
	padding-left:9px; padding-right:9px; padding-top:2px; padding-bottom:2px;
	}
	
	






	.rslt_tbl {
	border-right:1px solid #ffffff; border-bottom:none;border-left:1px solid #ffffff; border-top:1px solid #a3beca;
	border-collapse:collapse;
	}
	
	.rslt_tt {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding:0px; padding-left:8px;padding-right:8px;padding-top:6px; padding-bottom:3px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height:12px;
	font-style: normal;
	font-weight:bold;
	text-align:center;
	background-color:#D4E9EA;
	}
	.rslt_ttr {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding:0px; padding-left:8px;padding-right:8px;padding-top:3px; padding-bottom:3px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height:12px;
	font-style: normal;
	font-weight:bold;
	text-align:right;
	background-color:#c2ddee;
	}
	.rslt_ttgr {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding:0px; padding-left:8px;padding-right:8px;padding-top:3px; padding-bottom:3px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height:12px;
	font-style: normal;
	font-weight:bold;
	text-align:right;
	background-color:#F2F2F2;
	}
	
	
	
	.rslt_ttor {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding:0px; padding-left:8px;padding-right:8px;padding-top:3px; padding-bottom:3px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height:12px;
	font-style: normal;
	font-weight:bold;
	text-align:center;
	background-color:#FFF2DA;
	}
	
	
	.rslt_td {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding-left:9px;padding-right:9px;padding-top:2px; padding-bottom:2px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	}
	.rslt_td A:link { font-weight: normal;font-size:11px;text-decoration: none;color:#006DB5; }
	.rslt_td A:visited { font-weight: normal;font-size:11px; text-decoration: none;color:#006DB5; }
	.rslt_td A:hover { font-weight: normal;font-size:11px;text-decoration: underline;color:#00ADE7; }
	
	
	.rslt_tdg {
	border-color:#BDBDBD; 
	border-top:none;border-left:none;
	padding:0px; padding-left:8px;padding-right:8px;padding-top:5px; padding-bottom:3px;
	vertical-align:middle;
	nowrap;
	empty-cells: show ;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	font-size: 11px;
	line-height: 130%;
	font-style: normal;
	background-color:#F2F2F2;
	}
	
	.rslt_dtl {
	background-color:#EAEAEA;
	font-weight:normal;
	padding:10px;
	text-align:left;
	color:#333333;
	line-height:150%;
	font-family: Arial, Helvetica, geneva, sans-serif,'dotum','dotumche' ;
	}




	.page {
	font-family:  Arial, Geneva, Helvetica, sans-serif, Dotum, DotumChe  ;
	font-style: normal;
	line-height: 130%;
	font-weight: bold;
	color:#333333;
	text-align:center;
	margin-left:10px;margin-top:10px; margin-bottom:25px;
	width:920;
	}
	.page A:link { font-weight: normal;text-decoration: none;color:#333333; }
	.page A:visited { font-weight: normal; text-decoration: none;color:#333333; }
	.page A:hover { font-weight: normal;text-decoration: none;color:#FF4701; }
	
	

/*bottom:width:764px; */
	.copy {border-top:1px solid #bcbcbc; text-align:left; margin-top:50px; margin-right:10px; padding-top:8px; padding-bottom:10px;width:100%;}

/*popup*/		
	.filter {filter:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#0F4198',endColorstr='#91DE00',gradientType='1'}


/*new*/

	.new_tit01 {
	font-weight:normal;
	font-size: 14px; font-weight: bold;
	color:#013777;
	line-height:130%;
	font-family: Dotum,Dotumche,Gulim,Gulimche,Arial,Helvetica, geneva,sans-serif;
	border-top:1px solid #bcbcbc; text-align:left; margin-top:50px; margin-right:10px; padding-top:8px; padding-bottom:10px;width:100%;
	}


	.new_tit02{
	font-size: 14px; font-weight: bold;
	font-weight:normal;
	padding:10px;
	color:#333333;
	font-family: Dotum,Dotumche,Gulim,Gulimche,Arial,Helvetica, geneva,sans-serif;
	}


/* table comm */


.btnc_com {
	font-weight:bold;
	background-image:url(../img/btn_combg.gif); 
	background-repeat:repeat-x; 
	background-position:0px 0px; 
	color:#474747;
	font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ;
	font-size:11px;
	padding-top:4px; padding-bottom:0px;
	}
	.btnc_com  A:link { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ; font-weight:bold; font-size:11px;text-decoration: none;color:#474747; }
	.btnc_com  A:visited { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ;font-weight:bold; font-size:11px; text-decoration: none;color:#474747; }
	.btnc_com  A:hover { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ; font-weight:bold; font-size:11px;text-decoration:none;color:#0070bc; }

	
	
	
	.btnc_com1 {
	font-weight:bold;
	background-image:url(../img/btn_combg.gif);
	background-repeat:repeat-x; 
	background-position:0px 0px; 
	color:#474747;
	font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ;
	font-size:12px;
	padding-top:4px; padding-bottom:0px;
	}
	.btnc_com1  A:link { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; font-weight:bold; font-size:12px;text-decoration: none;color:#474747; }
	.btnc_com1  A:visited { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; font-weight:bold; font-size:12px; text-decoration: none;color:#474747; }
	.btnc_com1  A:hover { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif ; font-weight:bold; font-size:12px;text-decoration:none;color:#0070bc; }


	.btnc_com2 {
	font-weight:bold;
	background-image:url(../img/btn_bluebg.gif);
	background-repeat:repeat-x; 
	background-position:0px 0px; 
	color:#ffffff;
	font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif, ;
	font-size:12px;
	padding-top:4px; padding-bottom:0px;
	}
	.btnc_com2  A:link { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; font-weight:bold; font-size:12px;text-decoration: none;color:#ffffff; }
	.btnc_com2  A:visited { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; font-weight:bold; font-size:12px; text-decoration: none;color:#ffffff; }
	.btnc_com2  A:hover { font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif ; font-weight:bold; font-size:12px;text-decoration:none;color:#c1e8ff; }


/* new  top */

.topmenu2_on		{
background-image:url(../img/top_menuon_bg.gif); background-repeat:repeat-x; 
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; text-align: center; padding:6 4 6 4; font-size:14px; color:#01437b;  font-weight:bold; }

.topmenu2_on a:link		     { font-size:14px; color:#01437b; text-decoration: none; font-weight:bold; }
.topmenu2_on a:active	     { font-size:14px; color:#01437b; text-decoration: none; font-weight:bold; }
.topmenu2_on a:visited	 { font-size:14px; color:#01437b; text-decoration: none; font-weight:bold; }
.topmenu2_on a:hover		 { font-size:14px; color:#01437b; text-decoration: none; font-weight:bold; }

.topmenu2_off		{font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif; text-align:right; padding:6 4 6 4; font-size:12px; color:#ffffff;  font-weight:bold; }
.topmenu2_off a:link		{	color:#ffffff; 	text-decoration: none; font-weight:bold; }
.topmenu2_off a:active		{	color:#ffffff; 	text-decoration: none; font-weight:bold; }
.topmenu2_off a:visited		{	color:#b4dff7; 	text-decoration: none; font-weight:bold; }
.topmenu2_off a:hover		{	color:#b4dff7; 	text-decoration: none; font-weight:bold;}

.topmenu3_on		{height:27px;  padding:4 6 4 6; font-size:12px; color:#4476a1;  font-weight:bold; }
.topmenu3_on a:link		{color:#4476a1;	text-decoration: none; font-weight:bold; }
.topmenu3_on a:active		{color:#4476a1;	text-decoration: none; font-weight:bold; }
.topmenu3_on a:visited		{color:#4476a1; 	text-decoration: none; font-weight:bold; }
.topmenu3_on a:hover		{color:#4476a1;  	text-decoration: none; font-weight:bold; }

.topmenu3_off		{height:27px;  text-align:right; padding:4 6 4 6; font-size:12px; color:#636363;  }
.topmenu3_off a:link		{color:#636363; 	text-decoration: none; }
.topmenu3_off a:active		{color:#636363; 	text-decoration: none;  }
.topmenu3_off a:visited		{color:#636363; 	text-decoration: none;  }
.topmenu3_off a:hover		{color:#4476a1;	text-decoration: none;}


/* new  left */

.left_title		{
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;  padding:4 0 0 12; font-size:14px; color:#ffffff;  font-weight:bold; }


.leftmenu2_on		{
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;  padding:4 0 0 6; font-size:12px; color:#0d6cab;  font-weight:bold; }

.leftmenu2_on a:link		     { font-size:12px; color:#0d6cab; text-decoration: none; font-weight:bold; }
.leftmenu2_on a:active	     { font-size:12px; color:#0d6cab; text-decoration: none; font-weight:bold; }
.leftmenu2_on a:visited	 { font-size:12px; color:#0d6cab; text-decoration: none; font-weight:bold; }
.leftmenu2_on a:hover		 { font-size:12px; color:#0d6cab; text-decoration: none; font-weight:bold; }

.leftmenu2_off		{
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;  padding:4 0 0 6; font-size:12px; color:#5e5e5e;  font-weight:bold; }

.leftmenu2_off a:link		     { font-size:12px; color:#5e5e5e; text-decoration: none; font-weight:bold; }
.leftmenu2_off a:active	     { font-size:12px; color:#5e5e5e; text-decoration: none; font-weight:bold; }
.leftmenu2_off a:visited	 { font-size:12px; color:#5e5e5e; text-decoration: none; font-weight:bold; }
.leftmenu2_off a:hover		 { font-size:12px; color:#0d6cab; text-decoration: none; font-weight:bold; }


.leftmenu3_on		{
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;  padding:4 0 0 4; font-size:11px; color:#3992ce;  }

.leftmenu3_on a:link		     { font-size:11px; color:#3992ce; text-decoration: none; }
.leftmenu3_on a:active	     { font-size:11px; color:#3992ce; text-decoration: none;  }
.leftmenu3_on a:visited	 { font-size:11px; color:#3992ce; text-decoration: none; }
.leftmenu3_on a:hover		 { font-size:11px; color:#3992ce; text-decoration: none; }

.leftmenu3_off		{
font-family:Dotum,Dotumche,Gulim,Gulimche, Arial,Helvetica, geneva,sans-serif;  padding:4 0 0 4; font-size:11px; color:#5e5e5e; }

.leftmenu3_off a:link		     { font-size:11px; color:#5e5e5e; text-decoration: none; }
.leftmenu3_off a:active	     { font-size:11px; color:#5e5e5e; text-decoration: none;  }
.leftmenu3_off a:visited	 { font-size:11px; color:#5e5e5e; text-decoration: none; }
.leftmenu3_off a:hover		 { font-size:11px; color:#3992ce; text-decoration: none; }